*
{
    margin-top:0;
    box-sizing: border-box;
}

html {
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  
.vehiculos
{
    background: rgb(0, 33, 65);
}

.destacado
{
    background-image: url("../images/carsPorsche-992-GT3-Cup-1320x743.jpg");
    background-size: cover;
    padding:20%;
    color:aliceblue;
    text-align: center;
}

.cards
{
    margin-top: 0px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:start;
    align-content: space-between;
    padding: 5px;
}

.card
{

    border-style:solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 2px;
    padding: 5px;
    width: 1fr;
    border-left: 5px solid red;
    color:aliceblue;
    background-image: linear-gradient(rgba(229, 221, 221, 0.708),rgba(22, 1, 1, 0.668)), url("../images/2019-Porsche-991II-GT3-R.jpg");
    background-size: cover;
    font-size: 90%;
}


.porsche
{
    background-image: linear-gradient(rgba(108, 112, 112, 0.708),rgba(22, 1, 1, 0.668)), url("../images/2019-Porsche-991II-GT3-R.jpg");
    background-size: cover;
}

.ferrari
{
    background-image: linear-gradient(rgba(107, 105, 105, 0.708),rgba(226, 45, 45, 0.668)), url("../images/carsFerrari-488-Challenge-Evo.jpg");
    background-size: cover;
}

.st
{
    background-image: linear-gradient(rgba(108, 107, 107, 0.708),rgba(45, 226, 144, 0.668)), url("../images/lambo-st-evo2.jpg");
    background-size: cover;
}

.m4-gt4
{
    background-image: linear-gradient(rgba(108, 221, 221, 0.708),rgba(87, 45, 226, 0.668)), url("../images/bmw-m4-gt4.jpg");
    background-size: cover;
}

.card:hover
{
    background-image: linear-gradient(rgba(176, 176, 176, 0.8),rgba(16, 15, 15, 0.2));
    border-style: 2px solid;
    transition: 0.4s ease-in;

}

@media screen and (max-width:768px)

{
    .cards 
    {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content: center;
        padding: 5px;
    }

}